.page{
    margin: 50px 50px 50px 50px;
    box-shadow: 1px 1px 1px 1px gray;
    color: #000;
    background: rgb(255, 255, 255);
    padding: 70px 45px 50px 55px;
    line-height: 1.5;
    box-shadow: 0 0 1em gray;
}
.text-content::first-letter {
        font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
        font-size: 80px; /* Размер шрифта первого символа */
        color:black; 
        line-height: 40px;
        float: left;
        padding-right: 7px;
        padding-top: 18px;
       }
.button_discover{
    color: rgb(231, 83, 14);
    background: transparent;
    padding: 10px 20px 10px 20x;
    height: 50px;
    width: 150px;
    border: 1px solid orangered;
}
.last-paragraph{
    font-style: italic;
    font-size: 20px;
}